.benefits {

  //.benefits__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(104);
      }
      @include viewport-tablet {
        margin-top: px-to-rem(60);
      }
      @include viewport-phone {
        margin-top: px-to-rem(46);
      }
    }
  }
  
  //.benefits-header 
  &-header {
    max-width: px-to-rem(900);

    //.benefits-header__subtitle 
    &__subtitle {
      display: block;
      margin-top: px-to-rem(20);
      font-weight: 500;
      line-height: 116%;

      @include viewport-tablet-min {
        font-size: px-to-rem(20);
      }

      @include viewport-phone {
        font-size: px-to-rem(16);
      }
    }
  }
  
  //.benefits-list 
  &-list {
    width: 100%;
    display: grid;

    @include viewport-desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(94) px-to-rem(70);
    }

    @include viewport-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(56) px-to-rem(50);
    }

    @include viewport-phone {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(56) px-to-rem(50);

      @media (max-width: 550px) {
        grid-template-columns: 1fr;
        gap: px-to-rem(46);
      }
    }

    @at-root .benefits.printing & {
      @include viewport-desktop {
        grid-template-columns: repeat(3, 1fr);
        gap: px-to-rem(94) px-to-rem(70);
      }

      > * {
        &:nth-child(2n + 1):last-child {
          @include viewport-tablet {
            grid-column-end: span 2;
          }

          @include viewport-phone {
            grid-column-end: span 2;

            @media (max-width: 550px) {
              grid-column-end: auto;
            }
          }
        }
      }
    }

    //.benefits-list__item 
    // &__item {
    //   @at-root .benefits.printing .benefits-list__item {
    //     &:last-child {
    //       background-color: green;
    //     }
    //   }
    // }
    
    // //.benefits-list__label 
    // &__label {
    //   --marker-shift: #{px-to-rem(12)};

    //   position: relative;
    //   z-index: 0;

    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 100%;

    //   @include viewport-desktop {
    //     flex-shrink: 0;
    //     max-width: px-to-rem(68);
    //   }
      
    //   @include viewport-tablet {
    //     flex-shrink: 0;
    //     max-width: px-to-rem(54);
    //   }
      
    //   @include viewport-phone {
    //     max-width: px-to-rem(54);
        
    //     @media (max-width: 550px) {
    //       padding-left: var(--marker-shift);
    //     }
    //   }

    //   &::before {
    //     content: '';
    //     display: block;

    //     position: absolute;
    //     bottom: 0;
    //     left: 0;

    //     border-radius: 50%;

    //     transform: translate(calc(-1 * var(--marker-shift)), #{px-to-rem(4)});
    //     background-color:rgba(var(--color-red--rgb), 0.46);

    //     @include viewport-desktop {
    //       width: px-to-rem(44);
    //       height: px-to-rem(44);
    //     }

    //     @include viewport-tablet-max {
    //       width: px-to-rem(30);
    //       height: px-to-rem(30);

    //       @media (max-width: 550px) {
    //         transform: translate(0, #{px-to-rem(4)});
    //       }
    //     }
    //   }

    //   img,
    //   svg {
    //     position: relative;
    //     width: 100%;
    //     height: auto;
    //   }
    // }
    
    // //.benefits-list__content 
    // &__content {
    //   width: 100%;

    //   > * + * {
    //     margin-top: px-to-rem(10);
    //   }
    // }
    
    // //.benefits-list__title 
    // &__title {
    //   @include text-heading-4;
    //   font-weight: 600;
    // }
    
    // //.benefits-list__description 
    // &__description {
    //   line-height: 116%;
    //   font-weight: 300;
    //   font-size: px-to-rem(16);
    // }
  }
}
