@import '../base';
@import '../mixins/button';
@import '../mixins/reset';
@import '../mixins/font-size';

// select {
//   display: block;
//   width: 100%;
//   border: unset;
//   border-bottom: 1px solid var(--color-white);
//   padding: px-to-rem(10) 0;
//   outline: none;

//   font-family: $font-family;
//   font-size: px-to-rem(16);
//   line-height: 100%;
//   font-weight: 400;
//   color: var(--color-black);
//   background-color: var(--color-white);

//   &:focus-visible {
//     border-color: var(--color-black);
//   }

//   @at-root form.invalid select {
//     border-color: var(--color-red);
//   }
// }

input,
textarea {
  @include reset-input;
  appearance: none;
  outline: none;
  width: 100%;
  border: 1px solid transparent;
  padding: px-to-rem(22) px-to-rem(20);

  @include transition(border 0.4s);

  font-family: $font-family;
  font-size: px-to-rem(14);
  line-height: 100%;
  font-weight: 300;
  color: var(--color-white);
  background-color: var(--color-black);

  &:focus-visible {
    border-color: rgba(var(--color-white--rgb), 0.5);
  }

  &::placeholder {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: rgba(var(--color-white--rgb), 0.5);;
  }

  &.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    visibility: hidden;
    padding: 0;
    border: 0;
    font-size: 0;
    //display: none;
  }

  @at-root form.invalid input {
    border-color: var(--color-red);
  }
  
  @at-root form.invalid textarea {
    border-color: var(--color-red);
  }

  @at-root form.feedback__form input {
    background-color: var(--color-black-100);
  }
  
  @at-root form.feedback__form textarea {
    background-color: var(--color-black-100);
  }

  @at-root form.header-search__form input {
    border: 0;
    padding: 0;

    border-bottom: 1px solid rgba(var(--color-white--rgb), 0.48);
    padding-bottom: px-to-rem(10);
    padding-right: px-to-rem(36);

    background-color: transparent;

    &:focus-visible {
      border-color: rgba(var(--color-white--rgb), 1);
    }

    &::placeholder {
      color: rgba(var(--color-white--rgb), 0.12);
    }
  }

  @at-root form.header-search__form textarea {
    border: 0;
    padding: 0;

    border-bottom: 1px solid rgba(var(--color-white--rgb), 0.48);
    padding-bottom: px-to-rem(10);
    padding-right: px-to-rem(46);

    background-color: transparent;

    &:focus-visible {
      border-color: rgba(var(--color-white--rgb), 1);
    }

    &::placeholder {
      color: rgba(var(--color-white--rgb), 0.12);
    }
  }
}

textarea {
  @include hide-scroll-bars;
  resize: none;
  height: 144px;
}
/* stylelint-disable */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/* stylelint-enable */

form {
  position: relative;
  z-index: 0;
  text-align: left;
  color: var(--color-white);

  &.hidden {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  label {
    display: block;

    .wpcf7-not-valid-tip {
      display: none;
      color: var(--color-red);

      @at-root form.invalid label .wpcf7-not-valid-tip {
        display: block;
        margin-top: px-to-rem(6);
      }
    }

    strong {
      display: block;
      margin-bottom: px-to-rem(6);

      font-weight: 500;
      line-height: 170%;
      font-size: px-to-rem(14);
      color: var(--color-white);

      @at-root form.invalid strong {
        color: var(--color-red);
      }
    }
  }

  p {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    a {
      display: block;
      color: var(--color-red);

      @include hover-focus-visible {
        @include non-mobile-device {
          text-decoration: unset;
        }
      }
    }

    // span {
    //   display: block;
    //   text-align: center;
    //   font-weight: 300;
    //   font-size: px-to-rem(12);
    // }

    > * + * {
      margin-top: px-to-rem(14);
    }
  }

  > div {
    width: 100%;
    display: grid;

    
    @include viewport-tablet-min {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(20) px-to-rem(42);
    }
    
    @include viewport-phone {
      grid-template-columns: 1fr;
      gap: px-to-rem(20) px-to-rem(14);
    }

    > * {
      &:only-child {
        @include viewport-tablet-min {
          grid-column: -1 / 1;
        }
      }
    }

    + * {
      margin-top: px-to-rem(20);
    }
  }

  button[type=submit],
  input[type=submit] {
    @include button-hollow;
    // max-width: px-to-rem(202);
    // width: 100%;

    &.hidden {
      padding: 0;
      border: 0;
      font-size: 0; 
    }

    @at-root .form.header-search__form button[type=submit] {
      --color-theme: var(--color-white);
      --color-reverse: var(--color-red);

      position: absolute;
      top: 0;
      right: px-to-rem(6);

      width: px-to-rem(34);
      height: 100%;
      border: 0;
      padding: 0;

      // transform: translate(0, -50%);

      &::before,
      &::after {
        display: none;
      }

      svg {
        width: 100%;
        max-width: px-to-rem(24);
        height: auto;
      }
    }
  }
}