.grab-desktop {
  
  @include viewport-tablet-min {
    --gradient-width: #{px-to-rem(20)};
  }
  
  @include viewport-phone {
    --gradient-width: #{px-to-rem(20)};

    @media (max-width: 450px) {
      --gradient-width: var(--wrap);
    }
  }

  @include hide-scroll-bars;

  width: calc(100% + 2 * var(--gradient-width));
  margin-left: calc(-1 * var(--gradient-width));

  user-select: none;
  overflow-y: visible;
  overflow-x: auto;

  --gradient-left: var(--gradient-width);
  --gradient-right: calc(100% - var(--gradient-width));

  /* stylelint-disable-next-line */
  -webkit-mask-image: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) var(--gradient-left), rgb(0, 0, 0) var(--gradient-right), transparent 100%);
  mask-image: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) var(--gradient-left), rgb(0, 0, 0) var(--gradient-right), transparent 100%);
  // &.active {

  // }

  //.grab-desktop__inner 
  &__inner {
    padding: 0 var(--gradient-width);

    display: flex;
    align-items: center;
    width: max-content;
  }
}