.info-section {
  
  //.info-section__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(54);
      }

      @include viewport-phone {
        margin-top: px-to-rem(36);
      }
    }
  }
  
  //.info-section-header 
  &-header {
    > * + * {
      margin-top: px-to-rem(16);
    }

    //.info-section-header__subtitle 
    &__subtitle {
      font-weight: 500;
      line-height: 116%;

      @include viewport-tablet-min {
        font-size: px-to-rem(20);
      }

      @include viewport-phone {
        font-size: px-to-rem(16);
      }
    }
  }
  
  //.info-section__main 
  &__main {
    @include viewport-desktop {
      --gap: #{px-to-rem(76)};
    }
    @include viewport-tablet {
      --gap: #{px-to-rem(54)};
    }
    @include viewport-phone {
      --gap: #{px-to-rem(36)};
    }

    @at-root .info-section.printing-benefits & {
      @include viewport-desktop {
        --gap: #{px-to-rem(54)};
      }
    }
    
    display: flex;

    @include viewport-tablet-min {
      width: calc(100% + var(--wrap));
      margin-left: calc(-1 * var(--wrap));

      justify-content: space-between;
      align-items: center;
      
      @media (min-width: 1441px) {
        width: calc(100% + #{px-to-rem(150)});
        margin-left: calc(-1 * #{px-to-rem(150)});
      }
    }

    @include viewport-phone {
      width: 100%;
      flex-direction: column-reverse;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: var(--gap);
      }
      @include viewport-phone {
        margin-bottom: var(--gap);
      }
    }
  }
  
  //.info-section-media 
  &-media {
    width: 100%;
    max-width: px-to-rem(624);

    @include viewport-phone {
      @media (max-width: 450px) {
        max-width: unset;
        width: calc(100% + 2 * var(--wrap));
        margin-left: calc(-1 * var(--wrap));
      }
    }

    @at-root .info-section.printing-benefits & {
      @include viewport-desktop {
        max-width: px-to-rem(824);
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;

      background-color: var(--color-black-100);
    }
  }
  
  //.info-section__content 
  &__content {
    width: 100%;
    max-width: calc(var(--gap) + #{px-to-rem(568)});
    
    @at-root .info-section.printing-benefits & {
      max-width: calc(var(--gap) + #{px-to-rem(362)});
    }

    > * {
      + * {
        @include viewport-desktop {
          margin-top: px-to-rem(56);
        }
        @include viewport-tablet {
          margin-top: px-to-rem(40);
        }
        @include viewport-phone {
          margin-top: px-to-rem(28);
        }
      }

      + .info-section__action {
        @include viewport-tablet-min {
          margin-top: px-to-rem(34);
        }
      }
    }
  }
  
  //.info-section__typography 
  // &__typography {

  // }
  
  //.info-section-list 
  &-list {
    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(40);
      }
      @include viewport-tablet {
        margin-top: px-to-rem(32);
      }
      @include viewport-phone {
        margin-top: px-to-rem(22);
      }
    }
  }

  //.info-section-check-list
  &-check-list {
    width: 100%;

    > * + * {
      margin-top: px-to-rem(18);
    }

    //.info-section-check-list__item 
    &__item {
      display: flex;
      align-items: flex-start;

      font-weight: 400;
      line-height: 116%;

      @include viewport-desktop {
        font-size: px-to-rem(20);
      }
      @include viewport-tablet-max {
        font-size: px-to-rem(16);
      }

      > * + * {
        margin-left: px-to-rem(14);
      }
    }

    //.info-section-check-list__label 
    &__label {
      flex-shrink: 0;
      width: 100%;

      @include viewport-desktop {
        max-width: px-to-rem(24);
      }
      
      @include viewport-tablet-max {
        max-width: px-to-rem(20);
      }

      display: flex;
      align-items: center;
      justify-content: center;

      svg,
      img {
        width: 100%;
        height: auto;
      }
    }

    //.info-section-check-list__description 
    &__description {
      width: 100%;
    }
  }
}
