@import '../base';

.popup {
  @include viewport-tablet-min {
    --wrapper-width: #{px-to-rem(742)};
  }
  
  &.popup-team {
    @include viewport-desktop {
      --wrapper-width: #{px-to-rem(998)};
    }
  }
  
  &.popup-form {
    @include viewport-tablet-min {
      --wrapper-width: #{px-to-rem(624)};
    }
  }
  
  &.popup-feedback {
    @include viewport-tablet-min {
      --wrapper-width: #{px-to-rem(484)};
    }
  }

  &.popup-menu {
    --wrapper-width: 100%;
  }

  //.popup__overlay
  &__overlay {
    background-color: rgba(var(--color-black--rgb), 0.6);

    @at-root .popup.fullscreen-phone & {
      @include viewport-phone {
        background-color: var(--color-white);
      }
    }
  }

  //.popup__additional 
  &__additional {
    &::before {
      left: unset;
      right: 0;
      background-color: var(--color-white);
    }
    
    @at-root .popup.popup-menu & {
      display: block;
      
      &::before {
        background-color: var(--color-black);
      }
    }
  }
  
  //.popup__wrapper 
  &__wrapper {   
    border-radius: px-to-rem(20);
    background-color: var(--color-white);
    
    @include viewport-desktop {
      padding: px-to-rem(60) px-to-rem(60);
    }
    
    @include viewport-tablet {
      padding: px-to-rem(40) px-to-rem(52);
    }
    
    // @include viewport-phone {
    //   padding: px-to-rem(40) px-to-rem(76);
    // }
    
    @at-root .popup.popup-video & {
      margin: 0 auto;
      padding: px-to-rem(40) 0 px-to-rem(30);
      background-color: transparent;
    }

    @at-root .popup.popup-form & {  
      @include viewport-desktop {
        padding: px-to-rem(54) px-to-rem(100);
      }
      
      @include viewport-tablet {
        padding: px-to-rem(40) px-to-rem(76);
      }
    }

    @at-root .popup.popup-feedback & {  
      @include viewport-tablet-min {
        padding: px-to-rem(64) px-to-rem(70);
      }
    }

    @at-root .popup.popup-menu & {
      border-radius: 0;
      margin: 0 auto 0 0;
      min-height: calc(100 * var(--vh) - 0.1px);
      align-items: flex-start;

      background-color: var(--color-black);
      
      @include viewport-tablet-min {
        padding: px-to-rem(18) var(--wrap) px-to-rem(18);
      }
      
      @include viewport-phone {
        padding: px-to-rem(18) var(--wrap);
      }
    }

    @at-root .popup.fullscreen-phone & {
      @include viewport-phone {
        max-width: unset;
        min-height: calc(100 * var(--vh) - 0.1px);
        margin: 0;
        border-radius: 0;
      }
    }
  }
  
  //.popup__close 
  &__close {
    &.hidden {
      display: none;
    }

    @at-root .popup.popup-menu & {
      position: static;
      width: px-to-rem(28);
      height: px-to-rem(28);
    }

    @at-root .popup.fullscreen-phone & {
      @include viewport-phone {
        top: px-to-rem(10);
        right: px-to-rem(10);
      }
    }

    @at-root .popup.popup-video & {
      @include viewport-tablet-min {
        top: px-to-rem(40);
      }
      @include viewport-phone {
        top: 0;
      }
    }
  }
  
  //.popup__content 
  &__content {
    @at-root .popup.popup-menu & {
      position: relative;
      z-index: 1;
      max-width: unset;
    }

    @at-root .popup.popup-video & {
      max-width: unset;
      margin: 0 auto;
    }
  }
}

.popup-video {
  //.popup-video__media
  &__media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    iframe,
    video {
      width: 100%;
      height: auto;
    }
  }
}
