section,
.section {
  position: relative;
  z-index: 0;
  width: 100%;
  //overflow-x: hidden;

  &.light {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &.dark {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  @include viewport-desktop {
    padding: px-to-rem(160) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(110) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(60) 0;
  }

  &.section-shop {
    @include viewport-desktop {
      padding: px-to-rem(60) 0;
    }
    @include viewport-tablet {
      padding: px-to-rem(50) 0;
    }
    @include viewport-phone {
      padding: px-to-rem(50) 0;
    }
  }

  &.first-section {
    @include viewport-tablet-min {
      padding-top: calc(#{px-to-rem(46)} + #{px-to-rem(20)} + var(--started-header-height, #{px-to-rem(34)}));
    }
    
    @include viewport-phone {
      padding-top: calc(2 * #{px-to-rem(20)} + var(--started-header-height, #{px-to-rem(36)}));
      // padding-top: var(--started-header-height, px-to-rem(76));
      // padding-top: px-to-rem(76);
    }
  }

  //.section__container 
  &__container {
    position: relative;
    z-index: 1;
  }

  //.section-header 
  &-header {
    position: relative;
    z-index: 0;

    + * {
      position: relative;
      z-index: 1;
    }

    //.section-header__title 
    &__title {
      @include text-heading-2;
      position: relative;
      z-index: 1;
    }

    //.section-header__label 
    &__label {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      width: max-content;
      transform: translate(0, -16%);

      pointer-events: none;
      font-weight: 600;
      line-height: 100%;
      color: rgba(var(--color-white--rgb), 0.03);

      @include viewport-desktop {
        font-size: px-to-rem(200);
      }
      @include viewport-tablet {
        font-size: px-to-rem(152);
      }
      @include viewport-phone {
        font-size: px-to-rem(118);
      }

      @at-root .section-header.feedback__header & {
        transform: translate(0, -50%);
      }
    }
  }

  //.section-bg 
  &-bg {
    @include absolute-fullsize;
    z-index: 0;

    transform: translateZ(0);

    //.section-bg__image 
    &__image {
      @include absolute-fullsize;
      z-index: 0;

      @include viewport-desktop {
        @media (min-width: 1441px) {
          width: calc(100% - 2 * var(--wrap));
          margin-left: var(--wrap);
          margin-right: var(--wrap);

          /* stylelint-disable-next-line */
          -webkit-mask-image: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) 18%, rgb(0, 0, 0) 82%, transparent 100%);
          mask-image: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) 18%, rgb(0, 0, 0) 82%, transparent 100%);
        }
      }

      &::after {
        content: '';
        display: block;
        @include absolute-fullsize;

        background-color: rgba(var(--color-black--rgb), 0.94);
        
        @at-root .banner.section .section-bg__image::after {
          background-color: rgba(var(--color-black--rgb), 0.76);
        }
      }

      img,
      video {
        @include absolute-fullsize;
        object-fit: cover;

        // @include viewport-desktop {
        // @media (min-width: 1441px) {
        /* stylelint-disable-next-line */
        -webkit-mask-image: linear-gradient(180deg, transparent 0%, rgb(0, 0, 0) 18%, rgb(0, 0, 0) 82%, transparent 100%);
        mask-image: linear-gradient(180deg, transparent 0%, rgb(0, 0, 0) 18%, rgb(0, 0, 0) 82%, transparent 100%);
        // }
        // }
      }
    }

    //.section-bg-lines 
    &-lines {
      @include absolute-fullsize;
      z-index: 1;

      display: flex;
      justify-content: space-between;

      padding-left: calc(var(--wrap) - #{px-to-rem(20)});
      padding-right: calc(var(--wrap) - #{px-to-rem(20)});

      //.section-bg-lines__item 
      &__item {
        width: 1px;
        height: 100%;
        background-color: rgba(var(--color-white--rgb), 0.04);
      }
    }
  }
}
