.shop-category {  
  //.shop-category__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(42);
      }
    
      @include viewport-phone {
        margin-top: px-to-rem(36);
      }
    }
  }
  
  //.shop-category__header 
  // &__header {
  // }
  
  //.shop-category-list 
  &-list {
    display: grid;

    @include viewport-desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: px-to-rem(60);
    }
    
    @include viewport-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(46);
    }
    
    @include viewport-phone {
      // max-width: px-to-rem(336);
      // margin-left: auto;
      // margin-right: auto;

      grid-template-columns: 1fr;
      gap: px-to-rem(36);
    }

    li {
      &:nth-child(3n + 1):last-child {
        @include viewport-desktop {
          grid-column-end: span 3;
        }
      }

      &:nth-child(2n + 1):last-child {
        @include viewport-tablet {
          grid-column-end: span 2;
        }
      }
    }
    
    //.shop-category-list__item 
    &__item {
      position: relative;
      z-index: 0;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      max-width: px-to-rem(336);
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @include transition(color 0.4s);
      text-decoration: unset;
      color: var(--color-white);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-red);
        }
      }

      @at-root .shop-category-list li:nth-child(3n + 1):last-child & {
        @include viewport-desktop {
          margin-right: auto;
          margin-left: auto;
        }
      }

      @at-root .shop-category-list li:nth-child(2n + 1):last-child & {
        @include viewport-tablet {
          margin-right: auto;
          margin-left: auto;
        }
      }

      @at-root .shop-category-list li:nth-child(odd) & {
        @include viewport-tablet {
          margin-right: 0;
        }
      }

      @at-root .shop-category-list li:nth-child(even) & {
        @include viewport-tablet {
          margin-left: 0;
        }
      }

      > * + * {
        margin-top: px-to-rem(16);
      }
    }
    
    //.shop-category-list__media 
    &__media {
      position: relative;
      z-index: 0;

      width: 100%;
      display: block;
      overflow: hidden;

      transform: translateZ(0);
      background-color: var(--color-black-100);

      //.shop-category-list__media__container 
      &__container {
        display: block;
        padding-top: 124.4%;
      }

      img {
        @include absolute-fullsize;
        z-index: 0;
        object-fit: cover;

        @include transition(transform 0.4s);

        @at-root .shop-category-list__item:hover .shop-category-list__media img {
          @include non-mobile-device {
            transform: scale(1.16);
          }
        }

        @at-root .shop-category-list__item:focus-visible .shop-category-list__media img {
          @include non-mobile-device {
            transform: scale(1.16);
          }
        }
      }
    }
    
    //.shop-category-list__content 
    &__content {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    //.shop-category-list__title 
    &__title {
      @include text-heading-4;
      width: 100%;
    }
    
    //.shop-category-list-label 
    &-label {
      position: relative;
      z-index: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      width: 100%;
      max-width: px-to-rem(28);
      overflow: hidden;

      transform: translateZ(0);

      //.shop-category-list-label__svg 
      &__svg {
        width: 100%;
        height: auto;
        @include transition((transform 0.6s, opacity 0.2s));

        &.showed {
          @at-root .shop-category-list-label:hover .shop-category-list-label__svg.showed {
            @include non-mobile-device {
              opacity: 0;
              transform: translate(100%, -100%) scale(0.6);
            }
          }

          @at-root .shop-category-list__item:focus-visible .shop-category-list-label .shop-category-list-label__svg.showed {
            @include non-mobile-device {
              opacity: 0;
              transform: translate(100%, -100%) scale(0.6);
            }
          }
        }

        &.hovered {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          opacity: 0;
          transform: translate(-100%, 100%) scale(0.6);

          @at-root .shop-category-list-label:hover .shop-category-list-label__svg.hovered {
            @include non-mobile-device {
              opacity: 1;
              transform: translate(0, 0) scale(1);
            }
          }

          @at-root .shop-category-list__item:focus-visible .shop-category-list-label .shop-category-list-label__svg.hovered {
            @include non-mobile-device {
              opacity: 1;
              transform: translate(0, 0) scale(1);
            }
          }
        }
      }
    }
  }
}
