nav.menu
  ul.menu-list
    each col in menuPopupList
      li.menu-list__item
        ul.menu-list__col
          each item in col
            li.menu-list__row
              a.menu__link(
                class=`${item.goto !== 'false' ? 'anchor' : ''}`,
                href=`${item.href}`,
                data-goto=`${item.goto}`
              ) #{ item.name }
