section.banner
  ._container.banner__container
    .banner__wrapper
      .banner-content
        h1.banner__title Быстро, профессионально и c опытом

        h2.banner__subtitle Мы справляемся с самыми сложными задачами

        a.banner__button.button-hollow.anchor(href='#', data-goto='.about')
          span About

      //- .banner-media
      //-   .banner-media__container
      //-     img(src=require('@/assets/img/banner-media.jpg'), alt='banner')
