-
  const accordionList = [
    {
      title: 'Привет вопроса Пример вопрос',
      description: 'Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет». Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет».'
    },
    {
      title: 'Пример вопрос',
      description: 'Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет». Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет».'
    },
    {
      title: 'Привет вопроса Пример вопрос',
      description: 'Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет». Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет».'
    },
    {
      title: 'Привет вопроса Пример вопрос',
      description: 'Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет». Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет».'
    },
    {
      title: 'Пример вопрос',
      description: 'Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет». Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет».'
    },
    {
      title: 'Привет вопроса Пример вопрос',
      description: 'Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет». Мы рассматриваем каждый проект индивидуально и предлагаем вам индивидуальные решения для вашего помещения. Качество и удовлетворенность клиентов имеют высший приоритет».'
    },
  ];

section.faq.section
  .section-bg
    .section-bg-lines
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item

  ._container.section__container
    .faq__wrapper
      .faq__header.section-header
        h2.section-header__title Ответы на часто задаваемые вопросы

        p.section-header__label FAQ

      ul.faq-accordion.accordion(data-is-label-click='false')
        each item in accordionList
          li.accordion__item.faq-accordion__item
            button.accordion__summary
              span.accordion__title.faq-accordion__title= item.title

              span.accordion__label

            .accordion__details
              p.accordion__description.faq-accordion__description= item.description
