-
  const popupCaseTypography = `
    <p>
      Консалтингова компанія ТОВ «ДІСКОРБ» є частиною міжнародної Групи компаній Caspit. Нашою метою ми бачимо: зрозуміти особливості бізнесу, з яким маємо страву, та забезпечити досягнення поставлених клієнтами цілей.
    </p>
    <p>
      Ми фокусуємося на роботі з клієнтами малого та середнього бізнесу, які хочуть отримати новий імпульс в динаміці розвитку, представляємо їх інтереси у переговорах з фінансовими установами для забезпечення очікуваного результату.
    </p>
  `;

.case-popup
  .case-popup__main
    p.case-popup__title Складдання бізнес плану та супровід для кав’ярні

    .case-popup__typography.typography!= popupCaseTypography
