.popup-feedback
  .popup-feedback__header
    .popup-feedback__label
      img(src=require('@/assets/img/error.svg'), alt='success')

    p.popup-feedback__title Oops

  p.popup-feedback__subtitle Something wrong. Try later.

  button.popup-feedback__button.popup__button.button-filled
    span Home
