.popup-feedback
  .popup-feedback__header
    .popup-feedback__label
      img(src=require('@/assets/img/success.svg'), alt='success')

    p.popup-feedback__title Thank you!

  p.popup-feedback__subtitle Your application has been accepted. <br/>Expect a call soon.

  button.popup-feedback__button.popup__button.button-filled
    span Home
