-
  isFooterNearSeo = false;

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Trigal GmbH

    link(rel='stylesheet', href=require('@/styles/styles.scss'))

  body
    include @/layout/header.pug

    .scroll-container
      //- .scroll-container-navigation
      //-   button.scroll-container-navigation__button

      //-   button.scroll-container-navigation__button

      //-   button.scroll-container-navigation__button

      .scroll-container__wrapper
        .scroll-container__item
          include @/templates/banner.pug

        .scroll-container__item
          include @/templates/services.pug

        .scroll-container__item
          include @/templates/review.pug

        .scroll-container__item
          include @/templates/feedback.pug

        .scroll-container__item
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eum aperiam repellat maiores fugiat vel omnis modi qui numquam. Obcaecati corrupti eveniet sit voluptate quidem. Repellat, porro ratione esse soluta odit praesentium quae quisquam? Tenetur vero adipisci voluptatibus laborum nam veritatis quam voluptatem esse cupiditate, ducimus commodi! Saepe quaerat maxime id vitae esse fugiat obcaecati ut. Vel dolore unde impedit laudantium. Fugit quia odio iure eius ad incidunt dicta, consequuntur obcaecati dignissimos ullam necessitatibus a sit ea, rem quis, asperiores quae. Harum provident facere voluptatibus aut voluptatem labore tempore maiores nihil nemo, neque deserunt laborum ipsum odit libero error perferendis.

        .scroll-container__item
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eum aperiam repellat maiores fugiat vel omnis modi qui numquam. Obcaecati corrupti eveniet sit voluptate quidem. Repellat, porro ratione esse soluta odit praesentium quae quisquam? Tenetur vero adipisci voluptatibus laborum nam veritatis quam voluptatem esse cupiditate, ducimus commodi! Saepe quaerat maxime id vitae esse fugiat obcaecati ut. Vel dolore unde impedit laudantium. Fugit quia odio iure eius ad incidunt dicta, consequuntur obcaecati dignissimos ullam necessitatibus a sit ea, rem quis, asperiores quae. Harum provident facere voluptatibus aut voluptatem labore tempore maiores nihil nemo, neque deserunt laborum ipsum odit libero error perferendis.

        .scroll-container__item.special(data-section='menu')
          .section.menu-section
            .section-bg
              //- .section-bg__image
              //-   img(
              //-     src=require('@/assets/img/banner-media.jpg'),
              //-     alt='background'
              //-   )

              .section-bg-lines
                .section-bg-lines__item
                .section-bg-lines__item
                .section-bg-lines__item
                .section-bg-lines__item

            ._container.section__container
              .menu-section__wrapper
                .menu-section__header.section-header
                  //- h2.section-header__title menu

                  p.section-header__label Menu

                .menu-section__main
                  include @/templates/layout/menu-content.pug

    //- include @/templates/seo-banner.pug

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('./index.ts')) 
