@mixin text-heading-styles {
  margin: 0;
  word-break: break-word;
  font-family: $font-family-heading;
  font-weight: 600;
  line-height: 116%;
  letter-spacing: normal;
  //color: var(--color-black);
}

@mixin text-heading-1 {
  @include text-heading-styles;
  font-weight: 700;
  line-height: 112%;

  @include viewport-desktop {
    font-size: px-to-rem(78);
  }

  @include viewport-tablet {
    font-size: px-to-rem(60);
  }

  @include viewport-phone {
    font-size: px-to-rem(42);
    
    @media (max-width: 550px) {
      font-size: px-to-rem(28);
    }
  }
}

@mixin text-heading-2 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(38);
  }

  @include viewport-tablet {
    font-size: px-to-rem(36);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(34);

    @media (max-width: 550px) {
      font-size: px-to-rem(24);
    }
  }
}

@mixin text-heading-3 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(24);
  }

  @include viewport-tablet {
    font-size: px-to-rem(24);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(24);

    @media (max-width: 550px) {
      font-size: px-to-rem(20);
    }
  }
}

@mixin text-heading-4 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(20);
  }

  @include viewport-tablet {
    font-size: px-to-rem(20);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(20);
  }
}

@mixin text-heading-5 {
  @include text-heading-4;
}

@mixin text-heading-6 {
  @include text-heading-5;
}
